<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5zK9vJ13FAM9wNG1-ygtJPzMoUBjgn-I</string>
	<key>GCM_SENDER_ID</key>
	<string>80666322312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforcommunity.Gemini-Story-Generator</string>
	<key>PROJECT_ID</key>
	<string>gsoc-32bca</string>
	<key>STORAGE_BUCKET</key>
	<string>gsoc-32bca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80666322312:ios:9a2ca96a8d89bfa41bc63d</string>
</dict>
</plist>